<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>tfarmelSpringMVC</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- CONFIG DispatcherServlet -->
	<servlet>
		<servlet-name>tfarmelapp</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>tfarmelapp</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>

	<!-- CONFIG Chargeur de contexte (ContextLoader) -->

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/tfarmelapp-data.xml
			/WEB-INF/tfarmelapp-service.xml 
			/WEB-INF/tfarmelapp-servlet.xml
		</param-value>

	</context-param>
</web-app>